<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="systemConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="searchConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="wiltshireConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="pooleConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings />
  <searchConfig>
    <searchTerm>dwellings</searchTerm>

    <!-- Type of date to search by - valid values - DATE_VALIDATED, DATE_REGISTERED, TARGET_DATE, COMMITTEE_DATE, DECISION_DATE -->
    <dateType>DATE_RECEIVED</dateType>

    <!-- Start date - date format - DD-MM-YYYY -->
    <startDate>01-02-2018</startDate>

    <!-- End date - date format - DD-MM-YYYY -->
    <endDate>28-02-2018</endDate>
  </searchConfig>
  <systemConfig>
    <supportedAreas>Wiltshire,Poole</supportedAreas>
    <outputFileName>planningApplicationSearchResults.csv</outputFileName>
    <logFileName>planningApplicationLog.txt</logFileName>
    <requestDelayTimeSpan>00:00:03</requestDelayTimeSpan>
    <proxyUserName>lum-customer-hl_975387a4-zone-planningzone-country-gb-session-rand{0}</proxyUserName>
    <proxyPassword>ltqpzqxukw0w</proxyPassword>
    <proxyUri>http://servercountry-gb.zproxy.luminati.io:22225</proxyUri>
  </systemConfig>
  <wiltshireConfig>
    <baseUri>http://planning.wiltshire.gov.uk</baseUri>
    <keywordSearchRoute>/Northgate/PlanningExplorer/KeywordsSearch.aspx</keywordSearchRoute>
    <applicationPageRoute>/Northgate/PlanningExplorer/Generic/</applicationPageRoute>
    <defaultPageSize>10</defaultPageSize>
    <desiredPageSize>100000</desiredPageSize>
    <useProxy>false</useProxy>
  </wiltshireConfig>
  <pooleConfig>
    <baseUri>http://planning.wiltshire.gov.uk</baseUri>
    <keywordSearchRoute>/Northgate/PlanningExplorer/KeywordsSearch.aspx</keywordSearchRoute>
    <applicationPageRoute>/Northgate/PlanningExplorer/Generic/</applicationPageRoute>
    <defaultPageSize>10</defaultPageSize>
    <desiredPageSize>100000</desiredPageSize>
    <useProxy>false</useProxy>
  </pooleConfig>
</configuration>