<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="systemConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="searchConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="wiltshireConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="idoxConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
    <section name="bournemouthConfig" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings />
  <searchConfig>
    <!-- Start date - date format - DD-MM-YYYY -->
    <startDate>01-01-2018</startDate>

    <!-- End date - date format - DD-MM-YYYY -->
    <endDate>30-03-2018</endDate>
  </searchConfig>
  <systemConfig>
    <supportedAreas>Wiltshire,Poole,Bournemouth</supportedAreas>
    <outputFileName>planningApplicationSearchResults.csv</outputFileName>
    <logFileName>planningApplicationLog.txt</logFileName>
    <requestDelayTimeSpan>00:00:03</requestDelayTimeSpan>
    <proxyUserName>lum-customer-hl_975387a4-zone-planningzone-country-gb-session-rand{0}</proxyUserName>
    <proxyPassword>ltqpzqxukw0w</proxyPassword>
    <proxyUri>http://servercountry-gb.zproxy.luminati.io:22225</proxyUri>
  </systemConfig>
  <wiltshireConfig>
    <searchTerm>dwellings</searchTerm>
    <baseUri>https://planning.wiltshire.gov.uk</baseUri>
    <SearchRoute>/Northgate/PlanningExplorer/KeywordsSearch.aspx</SearchRoute>
    <applicationPageRoute>/Northgate/PlanningExplorer/Generic/</applicationPageRoute>
    <defaultPageSize>10</defaultPageSize>
    <desiredPageSize>100000</desiredPageSize>
    <useProxy>true</useProxy>
  </wiltshireConfig>
  <idoxConfig>
    <searchTerm>dwellings</searchTerm>
    <baseUri>https://boppa.poole.gov.uk</baseUri>
    <SearchRoute>/online-applications/search.do?action=advanced</SearchRoute>
    <advancedSearchRoute>/online-applications/advancedSearchResults.do?action=firstPage</advancedSearchRoute>
    <pagedSearchResultsRoute>/online-applications/pagedSearchResults.do</pagedSearchResultsRoute>
    <applicationPageRoute></applicationPageRoute>
    <defaultPageSize>10</defaultPageSize>
    <desiredPageSize>100000</desiredPageSize>
    <useProxy>false</useProxy>
    <chunkSizeDays>30</chunkSizeDays>
  </idoxConfig>
  <bournemouthConfig>
    <searchTerm>dwellinghouses</searchTerm>
    <baseUri>https://planning.bournemouth.gov.uk</baseUri>
    <SearchRoute>/planappsrch.aspx</SearchRoute>
    <SearchResultsRoute>/searchresults.aspx</SearchResultsRoute>
    <applicationPageRoute></applicationPageRoute>
    <defaultPageSize>10</defaultPageSize>
    <desiredPageSize>100000</desiredPageSize>
    <useProxy>false</useProxy>
    <chunkSizeDays>90</chunkSizeDays>
  </bournemouthConfig>
</configuration>