<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
  
    <!-- User settings -->
  
    <!-- term to search by -->
    <add key="searchTerm" value="dwellings"/>

    <!-- Type of date to search by - valid values - DATE_VALIDATED, DATE_REGISTERED, TARGET_DATE, COMMITTEE_DATE, DECISION_DATE -->
    <add key="dateType" value="DATE_RECEIVED"/>

    <!-- Start date - date format - DD-MM-YYYY -->
    <add key="startDate" value="01-01-2018"/>

    <!-- End date - date format - DD-MM-YYYY -->
    <add key="endDate" value="28-02-2018"/>

    <!-- System settings -->
    <add key="baseUri" value="http://planning.wiltshire.gov.uk"/>
    <add key="keywordSearchRoute" value="/Northgate/PlanningExplorer/KeywordsSearch.aspx"/>
    <add key="applicationPageRoute" value="/Northgate/PlanningExplorer/Generic/"/>
    <add key="defaultPageSize" value="10"/>
    <add key="desiredPageSize" value="100000"/>
    <add key="outputFileLocation" value="c:\planningApplicationSearchResults.tsv" />
    <add key="logFileLocation" value="c:\planningApplicationLog.txt" />
  </appSettings>
</configuration>